.container
  .banner
    = image_tag 'banner1.png'
  %ul.nav.nav-tabs
    %li.nav-item
      %a.nav-link.active.show{"data-toggle" => "tab", :href => "#home"} Home
    %li.nav-item
      %a.nav-link{"data-toggle" => "tab", :href => "#videos"} Videos
    %li.nav-item
      %a.nav-link{"data-toggle" => "tab", :href => "#tools"} Tools / Extentsions
    %li.nav-item
      %a.nav-link{ :href => "/slides#1"} Slides
  #myTabContent.tab-content
    #home.tab-pane.fade.active.show
      .jumbotron
        = render 'partials/info'
    #tools.tab-pane.fade.show
      .jumbotron
        .card.border-primary.mb-3
          .card-header Header
          .card-body
            %h4.card-title Primary card title
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-secondary.mb-3{:style => "max-width: 20rem;"}
          .card-header Header
          .card-body
            %h4.card-title Secondary card title
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-success.mb-3{:style => "max-width: 20rem;"}
          .card-header Header
          .card-body
            %h4.card-title Success card title
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-danger.mb-3{:style => "max-width: 20rem;"}
          .card-header Header
          .card-body
            %h4.card-title Danger card title
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-warning.mb-3{:style => "max-width: 20rem;"}
          .card-header Header
          .card-body
            %h4.card-title Warning card title
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-info.mb-3{:style => "max-width: 20rem;"}
          .card-header Header
          .card-body
            %h4.card-title Info card title
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-light.mb-3{:style => "max-width: 20rem;"}
          .card-header Header
          .card-body
            %h4.card-title Light card title
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-dark.mb-3{:style => "max-width: 20rem;"}
          .card-header Header
          .card-body
            %h4.card-title Dark card title
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.

        %h1 Navbar example
        %p This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
        %p
          %a.btn.btn-lg.btn-primary{:href => "../../components/#navbar", :role => "button"} View navbar docs »
    #videos.tab-pane.fade.show
      .jumbotron
        .container
          = render 'partials/videos'
