.container
  / LOAD INDIVIDUAL CHAPTERS FROM SEPARATE MARKDOWN FILES
  %script{:charset => "utf-8"}
    :plain
      // Place all of your files here
      sourceUrls = ['/markdownslides/cryptoparty.md']
      var xmlhttp = new XMLHttpRequest();

      var mdsource = ""

      for (var i = 0; i < sourceUrls.length; i++) {
        xmlhttp.open('GET', sourceUrls[i], false);
        xmlhttp.send();

        mdsource += xmlhttp.responseText;

        // Files shouldn't have --- at the head or foot
        // It is added automatically here
        if (i + 1 < sourceUrls.length) {
          mdsource += "\n---\n"
          }
      };
      var slideshow = remark.create({source: mdsource});
