.container
  .card.mb-3
    %h3.card-header Cryptoparty @ Monis Rache
    .card-body
      %h5.card-title Internet and Browsing
      %h6.card-subtitle.text-muted 19.07.2018 12:00
    .card-body
      %p.card-text Im Zuge der Digitalisierung sind immer größere Teile unserer Leben in die digitale Sphäre gewandert. Dabei hat das Verständnis der meisten Menschen davon, was Privatsphäre ist, nicht Schritt gehalten. Der Gedanke daran, dass jemand die eigene Post öffnen könnte, ist fast allen unangenehm - auf e-mails erstreckt sich dieses Gefühl jedoch nicht unbedingt.
      %p.card-text Obwohl Sicherheitsbehörden regelmäßig betonen, dass immer weitere Überwachungsbefugnisse nötig seien, um das sog. „going dark“ zu verhindern, ist Fakt, dass der Datenschatz, der Polizei und Geheimdiensten heute zur Verfügung steht, um ein Vielfaches größer ist, als jemals zuvor. In Zeiten zunehmend autoritärer Gesellschaften und Staaten ist es nötig, unser Verständnis von Sicherheit und Datenschutz im digitalen Raum neu zu überdenken.  
      %p.card-text Diese Veranstaltungsreihe sieht sich in der Tradition sog. Cryptoparties - Veranstaltungen, bei denen es darum geht, sich gegenseitig Grundkonzepte der Kryptographie - der Kunst der Verschlüsselung - näherzubringen. Jeder Abend beginnt mit einem theoretischen (niedrigschwelligen) Input zum jeweiligen Thema. Danach gibt es Essen (Spende erwünscht), anschliessend versuchen wir im zweiten Teil der Veranstaltung die zuvor besprochenen Konzepte praktisch umzusetzen. Das hier soll explizit keine Veranstaltung sein, zu der nur kommen darf, wer Nerdlevel 9000 erreicht hat (Nerds sind natürlich trotzdem herzlich willkommen!) - alle sollen sich wohlfühlen. 
      %p.card-text Beim ersten Mal wird es um Browser gehen: Diese sind für die meisten Menschen der Hauptpunkt der Interaktion mit dem Internet und gleichzeitig Haupteinfallstor für Malware.  Im ersten Teil werden theoretische Konzepte behandelt: Es wird zu klären sein, wie Überwachung beim Surfen funktioniert, was der Unterschied zwischen Privatsphäre und Sicherheit ist, was Public-Key-Kryptographie und der Tor-Browser sind und können. 

    .card-body
      %p.card-text Themen und Termine der nächsten Veranstaltungen stehen noch nicht fest, aber ziemlich sicher werden dabei folgende Topics behandelt:
      %ul.list-group.list-group-flush
        %li.list-group-item Messenger & Mobile
        %li.list-group-item Festplattenverschlüsselung
        %li.list-group-item Betriebssysteme
    .card-footer.text-muted
      Stay tuned... 
-#.container
-#  .card.mb-3
-#    %h3.card-header Cryptoparty @ Magdalenenstr. 19
-#    .card-body
-#      %h5.card-title Internet and Browsing
-#      %h6.card-subtitle.text-muted 15.02.2018 18:00
-#    %a{:href => "https://osm.org/go/0MbGf3nP?m="}
-#      = image_tag 'map2.png',  style: "height: 200px; width: 60%; display: block;" 
-#    .card-body
-#      %p.card-text Im Zuge der Digitalisierung sind immer größere Teile unserer Leben in die digitale Sphäre gewandert. Dabei hat das Verständnis der meisten Menschen davon, was Privatsphäre ist, nicht Schritt gehalten. Der Gedanke daran, dass jemand die eigene Post öffnen könnte, ist fast allen unangenehm - auf e-mails erstreckt sich dieses Gefühl jedoch nicht unbedingt.
-#      %p.card-text Obwohl Sicherheitsbehörden regelmäßig betonen, dass immer weitere Überwachungsbefugnisse nötig seien, um das sog. „going dark“ zu verhindern, ist Fakt, dass der Datenschatz, der Polizei und Geheimdiensten heute zur Verfügung steht, um ein Vielfaches größer ist, als jemals zuvor. In Zeiten zunehmend autoritärer Gesellschaften und Staaten ist es nötig, unser Verständnis von Sicherheit und Datenschutz im digitalen Raum neu zu überdenken.
-#      %p.card-text Diese Veranstaltungsreihe sieht sich in der Tradition sog. Cryptoparties - Veranstaltungen, bei denen es darum geht, sich gegenseitig Grundkonzepte der Kryptographie - der Kunst der Verschlüsselung - näherzubringen. Jeder Abend beginnt mit einem theoretischen (niedrigschwelligen) Input zum jeweiligen Thema. Danach gibt es Essen (Spende erwünscht), anschliessend versuchen wir im zweiten Teil der Veranstaltung die zuvor besprochenen Konzepte praktisch umzusetzen. Das hier soll explizit keine Veranstaltung sein, zu der nur kommen darf, wer Nerdlevel 9000 erreicht hat (Nerds sind natürlich trotzdem herzlich willkommen!) - alle sollen sich wohlfühlen.
-#      %p.card-text Beim ersten Mal wird es um Browser gehen: Diese sind für die meisten Menschen der Hauptpunkt der Interaktion mit dem Internet und gleichzeitig Haupteinfallstor für Malware.  Im ersten Teil werden theoretische Konzepte behandelt: Es wird zu klären sein, wie Überwachung beim Surfen funktioniert, was der Unterschied zwischen Privatsphäre und Sicherheit ist, was Public-Key-Kryptographie und der Tor-Browser sind und können.
-#      %p.card-text Im praktischen Teil werden wir versuchen, das Gelernte anzuwenden und die relevanten Browser-Add-Ons sowie den Tor-Browser zu installieren und danach anhand einiger Tools ausprobieren , obs mit der Anonymität geklappt hat. Bringt eure Laptops mit!
-#
-#    .card-body
-#      %p.card-text Themen und Termine der nächsten Veranstaltungen stehen noch nicht fest, aber ziemlich sicher werden dabei folgende Topics behandelt:
-#      %ul.list-group.list-group-flush
-#        %li.list-group-item Messenger & Mobile
-#        %li.list-group-item Festplattenverschlüsselung
-#        %li.list-group-item Betriebssysteme
-#    .card-footer.text-muted
-#      15-02-2018 18:00
