.row
  - %w[passwords https anonym daten kommunizieren maus].each do |title|
    .col-sm-12.col-lg-6{style: 'margin-bottom: 30px'}
      %h4
        = t 'videos.' + title
      %video#my-video.video-js{:controls => "", "data-setup" => "{}", :height => "264", :poster => "videos/#{title}.png", :preload => "auto", :width => "450px"}
        %source{:src => "videos/#{title}.mp4", :type => "video/mp4"}
        %p.vjs-no-js
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          %a{:href => "http://videojs.com/html5-video-support/", :target => "_blank"} supports HTML5 video
