!!!
%html
  %head
    %title Cryptoparty@Magda19
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "/assets/favicon-b6558e8a32f88d77fb4c3f1ea4d3f7e021cc19b4670191e8e8c249d27b900916.png", :rel => "shortcut icon", :type => "image/x-icon"}/
    :css
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
  %body
    = yield
